<h2>New Appointment</h2>

<%= form_for @appointment do |f| %>

  <div class="form-group">
    <%= f.label :dentist_id %>
    <%= f.collection_select :dentist_id, Dentist.order(:name), :id, :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :appointment_at %>
    <%= f.datetime_field :appointment_at, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= f.submit 'Save' %>
  </div>

<% end %>
